.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 81vh;
  }
  
  .login-form {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  h2{
    text-align: center;
}

@media (min-width: 1600px){
  .login-form {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85.5vh;
  }

}

@media (min-width: 1281px) and (max-width: 1500px)  {
  .login-form {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  

}


@media (min-width: 1025px) and (max-width: 1280px) {
  
  .login-form {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
  }
  
  
}


@media (min-width: 768px) and (max-width: 1024px) {
  
  .login-form {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
}

@media (min-width: 481px) and (max-width: 767px) {
  .login-form {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}


@media (min-width: 320px) and (max-width: 480px) {
  
  .login-form {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
