table {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 2px solid;
    padding: 10px;
}

.centered-links {
    text-align: justify;
    margin-top: 20px; 
  }
  
  .centered-links a {
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
  }

  h2{
    text-align: center;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    text-align: left;
  }
  
  @media (min-width: 1600px){
    .user-info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80.5vh;
      text-align: left;
    }
  
  }
  
  @media (min-width: 1281px) and (max-width: 1500px)  {
    .user-info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 87.5vh;
      text-align: left;
    }
  }
  
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .user-info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 85vh;
      text-align: left;
    }
  }
  
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .user-info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 75vh;
      text-align: left;
    }
  }
  
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .user-info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 75vh;
      text-align: left;
    }
  }
  
  
  @media (min-width: 481px) and (max-width: 767px) {
    .user-info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 68vh;
      text-align: left;
    }  
  }
